<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <style>
        .wrapper {
            max-width: 1024px;
            margin: 0 auto;
        }

        .ratio-16x9 {
            position: relative;
            height: 0;
            padding-bottom: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
        }

        .ratio-16x9 > div {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .code {
            background: #ccc;
            padding: 20px;
        }
    </style>
</head>
<body>
    <nav>

    </nav>

    <main class="wrapper">
        {% block content %}{% endblock %}
    </main>

    {# we are loading the google maps JS when the render page requires it #}
    {% if 'map' in get_component_list() %}
        {# this is embedded synchron to keep this example short #}
        <script src="https://maps.googleapis.com/maps/api/js?key=&libraries=&v=weekly"></script>
    {% endif %}

    <!--
        For not blocking the page rendering we load the javascript asnyc.
        For this we set just a variable which component should be started.

        In our js (index.js) "web.startComponents(webJsComponents);" will
        actually start our components.
    -->
    <script>
        var webJsComponents = {{ get_components() }};
    </script>
    <script src="/build/website/index.min.js" async></script>
</body>
</html>
